

h1,h2,h3,h4,h5,h6,p{
    color: white;
}

.navbar-default {
    padding: 10px;
    background-color: #222;
    border: 1px solid white;
}



.navbar-default .navbar-brand {
    font-family: 'Amaranth', sans-serif;
    font-size: 32px;
    color: #fed136;    
}  


.navbar-default .nav li a {
    color: #fed136; 
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
}  

.navbar-default .navbar-nav .active a {
    border-radius: 3px;
    color: black;
    background-color: #fed136;
}

.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus {
    color: black;
    background-color:rgb(254,159,54);
}


.navbar-default .nav li a:hover {
    color: rgb(254,159,54); 
} 



.navbar-default .navbar-brand:hover {
    color: rgb(254,159,54); 
}  

    
 


header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
}

.header-image{
    background-image: url('images/front-foto.jpg');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;  
}



header .greeting {
    padding-bottom: 250px;
    padding-top: 300px;
}


header .greeting p {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
    color: white;
}

section{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 20px;
    background-color: #222;

}


.about-heading{
    margin: 20px 0;
    padding-top: 50px;
}

.my-pic {
    margin-top: 40px;
}

.img-responsive {
margin: 0 auto;
}

.about-panels {
    margin-top: 80px;
}

.panel-title{ 
    font-size: 20px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}




/* -------------------Contact page ----------------*/

.contact-section{
    margin-top: 100px;

}



/* -------------------RWB----------------*/


@media(max-width:768px) {

    header .greeting {
       padding-bottom: 150px;
       padding-top: 200px;
    }
    
    header .greeting p {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    color: white;
    }
 

}


@media (min-width: 481px) and @media(max-width:768px) {

    header .greeting {
       padding-bottom: 150px;
       padding-top: 200px;
    }
    
    header .greeting p {
        font-size: 40px;
    }
 
}


@media (max-width: 481px)  {

    header .greeting {
       padding-bottom: 100px;
       padding-top: 150px;
    }
    
    header .greeting p {
        font-size: 30px;
    }
    
    h2, h3 {
        font-size: 22px;
    }

}


@media(max-width:321px) {

    .navbar-default .navbar-brand {
    font-size: 28px;
    margin-top: 300px;
    
    } 

    .navbar-toggle, .navbar-brand {
        float:none;
    }
    
    header .greeting {
       padding-bottom: 140px;
       padding-top: 250px;
    }
    
    header .greeting p {
        font-size: 20px;
    }
    
    h2, h3 {
        font-size: 18px;
    }
    
    .about-heading{
    padding-top: 60px;
    }
    
    .navbar-default {
    padding: 5px;
    background-color: #222;
    border: 1px solid white;
}
    
}

